Repository pavolloffay/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: collector-on-push, otel-bundle-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

collector-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/collector:{{revision}}
  - name: dockerfile
    value: Dockerfile.collector
  - name: path-context
    value: .
  - name: build-platforms
  ...

otel-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.bundle
  ...

otel-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile.operator
  - name: path-context
    value: .
  ...

otel-target-allocator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-target-allocator:{{revision}}
  - name: dockerfile
    value: Dockerfile.targetallocator
  - name: path-context
    value: .
  ...

Trigger build
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: collector-on-push, otel-operator-on-push, otel-target-allocator-on-push

Remove endpoint from alm-examples
  bundle-patch/patch_csv.yaml
Due: otel-bundle-on-pull-request

Small fix for image
  bundle-patch/patch_csv.py
  bundle-patch/patch_csv.yaml
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update pullspecs in bundle
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Change to quay.io/redhat-pending because nudging does not work from stage
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Use two bundles
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/single-arch-build-pipeline.yaml
  Dockerfile.bundle
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Use two bundles
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
Due: otel-bundle-on-pull-request

Red Hat Konflux update otel-bundle-quay Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-bundle-quay-pull-request.yaml
  .tekton/otel-bundle-quay-push.yaml
Due: none

Use two bundles (#99)
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/single-arch-build-pipeline.yaml
  Dockerfile.bundle
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Use two bundles
  .tekton/otel-bundle-quay-pull-request.yaml
  .tekton/otel-bundle-quay-push.yaml
Due: none

Update otel-collector to 8042c83
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-target-allocator to 012c858
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-operator to 96838ad
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Use prod registry
  .tekton/otel-bundle-push.yaml
Due: otel-bundle-on-pull-request

Update otel-target-allocator to 3398cdb
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-operator to b15297d
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-collector to 54194a9
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Fix preflight check
  Dockerfile.bundle
Due: otel-bundle-on-pull-request

Fix EC
  Dockerfile.bundle
Due: otel-bundle-on-pull-request

Trigger bundle build
  Dockerfile.bundle
Due: otel-bundle-on-pull-request

Update otel-collector to 0d6fbc7
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Fix catalog pipelines
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Fix catalog pipelines (#110)
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Fix catalog pipelines
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Update otel-target-allocator to 698227e
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-collector to 6caa9a0
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Change base image in bundle
  Dockerfile.bundle
Due: otel-bundle-on-pull-request

trigger catalog 4.16 build
  Dockerfile-4.16.catalog
Due: none

Use hermetic build
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-bundle-quay-pull-request.yaml
  .tekton/otel-bundle-quay-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-bundle-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Use hermetic build
  Dockerfile.bundle
  README.md
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: otel-bundle-on-pull-request

Hermetic dockerfile for collector and bundle
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  Dockerfile.bundle
  Dockerfile.collector
  bundle-patch/requirements.txt
Due: collector-on-push, otel-bundle-on-pull-request

Use hermetic builds
  Dockerfile.bundle
Due: otel-bundle-on-pull-request

Add setuptools
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  Dockerfile.bundle
  bundle-patch/requirements.txt
Due: otel-bundle-on-pull-request

Add setuptools
  bundle-patch/requirements.txt
Due: otel-bundle-on-pull-request

Add setup
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
Due: collector-on-push, otel-operator-on-push, otel-target-allocator-on-push

Add setup
  .tekton/multi-arch-build-pipeline.yaml
Due: collector-on-push, otel-operator-on-push, otel-target-allocator-on-push

Add setup
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
Due: none

Path conditions:
  collector-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/collector-pull-request.yaml)) or (any of: .tekton/collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: redhat-opentelemetry-collector)
  otel-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: opentelemetry-operator)
  otel-target-allocator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: opentelemetry-operator)
