Repository pavolloffay/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: collector-on-push, otel-bundle-on-pull-request, otel-target-allocator-on-push

Path conditions:
  collector-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/collector-pull-request.yaml)) or (any of: .tekton/collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: redhat-opentelemetry-collector)
  otel-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-target-allocator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: opentelemetry-operator)

Migrate manifests from midstream
  README.md
Due: none

Update readme
  README.md
Due: none

Red Hat Konflux update otel-fbc-v4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Red Hat Konflux update operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: none

Update CEL
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: none

Update operator to 3e58ba1
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Build collector on other platforms
  .tekton/operator-push.yaml
Due: none

Build collector on other platforms (#49)
  .tekton/operator-push.yaml
Due: none

Update operator to 5c7b144
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Pin pullspecs to image index
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Fix
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Pin pullspecs to image index (#53)
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Trigger rebuild
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: collector-on-push, otel-target-allocator-on-push

Trigger rebuild (#54)
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: collector-on-push, otel-target-allocator-on-push

Update operator to e4a154e
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-target-allocator to 64a01a0
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update collector to 96140fd
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Multi arch catalog builds
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Use build-pipeline for operator
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: none

Multi arch catalog builds (#57)
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Use build-pipeline for operator (#58)
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: none

Update operator to 65f39a2
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Red Hat Konflux purge collector Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/collector-pull-request.yaml
  .tekton/collector-push.yaml
Due: collector-on-push

Red Hat Konflux purge operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: none

Red Hat Konflux update collector Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/collector-pull-request.yaml
  .tekton/collector-push.yaml
Due: collector-on-push

Red Hat Konflux update otel-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
Due: none

Red Hat Konflux update otel-collector Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
Due: none

Prefix OTEL operator and collector
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
Due: none

Prefix OTEL operator and collector (#66)
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
Due: none

Align product name
  Dockerfile-4.12.catalog
  Dockerfile-4.13.catalog
  Dockerfile-4.14.catalog
  Dockerfile-4.15.catalog
  Dockerfile-4.16.catalog
Due: none

Align product name
  Dockerfile.bundle
Due: otel-bundle-on-pull-request

Fix readme
  README.md
Due: none

Fix pull specs
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Trigger new builds
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: collector-on-push, otel-target-allocator-on-push

Update otel-operator to c7abd51
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request
