Repository pavolloffay/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: collector-on-push, otel-bundle-on-pull-request, otel-target-allocator-on-push

Path conditions:
  collector-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/collector-pull-request.yaml)) or (any of: .tekton/collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: redhat-opentelemetry-collector)
  otel-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-target-allocator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: opentelemetry-operator)

Add other catalogs
  Dockerfile-4.12.catalog
  Dockerfile-4.13.catalog
  Dockerfile-4.14.catalog
  Dockerfile-4.15.catalog
Due: none

Add other catalogs (#19)
  Dockerfile-4.12.catalog
  Dockerfile-4.13.catalog
  Dockerfile-4.14.catalog
  Dockerfile-4.15.catalog
Due: none

Add multiarch builds (#18)
  .tekton/collector-pull-request.yaml
  .tekton/collector-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: collector-on-push, otel-bundle-on-pull-request, otel-target-allocator-on-push

Update otel-target-allocator to 93ad8c3
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update collector to 5987f9d
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update operator to 99e1d19
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Red Hat Konflux update otel-fbc-v4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
Due: none

Avoid rebuilding catalogs on no change
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Avoid rebuilding catalogs on no change (#28)
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Triggere build
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: collector-on-push, otel-target-allocator-on-push

Trigger build
  bundle-patch/patch_csv.yaml
Due: otel-bundle-on-pull-request

Trigger change
  bundle-patch/patch_csv.yaml
Due: otel-bundle-on-pull-request

Trigger build (#30)
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: collector-on-push, otel-bundle-on-pull-request, otel-target-allocator-on-push

Update operator to d3087c9
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update collector to 7bb4dfa
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-target-allocator to db814f6
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Add version to bundle
  README.md
  bundle-patch/patch_csv.py
  bundle-patch/patch_csv.yaml
Due: otel-bundle-on-pull-request

Add version to bundle (#36)
  README.md
  bundle-patch/patch_csv.py
  bundle-patch/patch_csv.yaml
Due: otel-bundle-on-pull-request

Trigger release
  README.md
  catalog/catalog-template.json
Due: none

Update otel-target-allocator to 78e27ce
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update collector to e939241
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update operator to 1a98412
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Fix push in catalog CEL
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  README.md
Due: none

Fix
  README.md
Due: none

Fix push in catalog CEL (#42)
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  README.md
Due: none

Update bundle for release
  README.md
Due: none

Fix readme
  README.md
Due: none

Migrate manifests from midstream
  Dockerfile.bundle
  bundle-patch/manifests/opentelemetry-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle-patch/manifests/opentelemetry-operator-prometheus-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  bundle-patch/manifests/opentelemetry-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  bundle-patch/manifests/opentelemetry-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle-patch/opentelemetry-operator-controller-manager-metrics-service_v1_service.patch
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Migrate manifests from midstream (#44)
  Dockerfile.bundle
  bundle-patch/manifests/opentelemetry-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle-patch/manifests/opentelemetry-operator-prometheus-rules_monitoring.coreos.com_v1_prometheusrule.yaml
  bundle-patch/manifests/opentelemetry-operator-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  bundle-patch/manifests/opentelemetry-operator-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle-patch/opentelemetry-operator-controller-manager-metrics-service_v1_service.patch
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request
