Repository pavolloffay/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: collector-on-push, otel-bundle-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Path conditions:
  collector-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/collector-pull-request.yaml)) or (any of: .tekton/collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: redhat-opentelemetry-collector)
  otel-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: opentelemetry-operator)
  otel-target-allocator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: opentelemetry-operator)

Update otel-target-allocator to 9d21704
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-collector to bf40ee8
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-target-allocator to 5281f21
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Small fixes to bundle
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  bundle-patch/patch_csv.py
Due: otel-bundle-on-pull-request

Fix
  README.md
Due: none

Red Hat Konflux update otel-fbc-v4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
Due: none

Red Hat Konflux update otel-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
Due: otel-operator-on-push

Red Hat Konflux update otel-fbc-v4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
Due: none

Red Hat Konflux update otel-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
Due: otel-bundle-on-pull-request

Red Hat Konflux update otel-target-allocator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-target-allocator-on-push

Red Hat Konflux update otel-fbc-v4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
Due: none

Red Hat Konflux update otel-collector Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Update pipelines
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-bundle-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Update pullspecs
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-operator to 9c7b93a
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Fix catalog pipelines
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
Due: none

Fix labels
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  README.md
Due: collector-on-push, otel-bundle-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Fix CSV annotations
  bundle-patch/patch_csv.yaml
Due: otel-bundle-on-pull-request

Update otel-target-allocator to d82b2dc
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-operator to 5c45ff8
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-collector to 21090f0
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Fix bundle labels
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: collector-on-push, otel-bundle-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Update otel-operator to 1739d1d
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-target-allocator to 0dcbf31
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Update otel-collector to 5d49a1b
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Fix labels and annotations for EC
  Dockerfile.bundle
Due: otel-bundle-on-pull-request

Use stage registry
  bundle-patch/patch_csv.yaml
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Build source image
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: collector-on-push, otel-bundle-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Use prod registry
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

RBAC proxy to relatedImages
  bundle-patch/patch_csv.py
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

Set multiarch explicitly
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request

No source image for catalog
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: collector-on-push, otel-bundle-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push
