Repository pavolloffay/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: collector-on-push, otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push, otel-collector-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

collector-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/collector:{{revision}}
  - name: dockerfile
    value: Dockerfile.collector
  - name: path-context
    value: .
  - name: build-platforms
  ...

otel-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.bundle
  ...

otel-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/opentelemetry-bundle:{{revision}}
  - name: dockerfile
    value: Dockerfile.bundle
  - name: build-source-image
    value: 'true'
  ...

otel-bundle-quay-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/opentelemetry-bundle-quay:{{revision}}
  - name: dockerfile
    value: Dockerfile.bundle
  - name: path-context
    value: .
  ...

otel-collector-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'false'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/opentelemetry-collector:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  ...

otel-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile.operator
  - name: path-context
    value: .
  ...

otel-target-allocator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-target-allocator:{{revision}}
  - name: dockerfile
    value: Dockerfile.targetallocator
  - name: path-context
    value: .
  ...

Add setup
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  Dockerfile.collector
  bundle-patch/requirements.txt
  rpms.lock.yaml
Due: collector-on-push, otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push, otel-collector-on-pull-request

Add setup
  README.md
  bundle-patch/requirements.in
  bundle-patch/requirements.txt
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Add setup
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  Dockerfile.bundle
  README.md
  bundle-patch/requirements.in
  bundle-patch/requirements.txt
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi.repo
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push, otel-collector-on-pull-request

Add setup
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
Due: otel-bundle-on-pull-request, otel-bundle-on-push

Add setup
  Dockerfile.bundle
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Add setup
  Dockerfile.bundle
  bundle-patch/rpms.in.yaml
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Add setup
  .tekton/otel-bundle-quay-pull-request.yaml
  .tekton/otel-bundle-quay-push.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-bundle-quay-on-push, otel-operator-on-push, otel-target-allocator-on-push

Hermetic dockerfile for collector and bundle (#115)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-bundle-quay-pull-request.yaml
  .tekton/otel-bundle-quay-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-13-pull-request.yaml
  .tekton/otel-fbc-v4-13-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
  Dockerfile.bundle
  Dockerfile.collector
  README.md
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi.repo
  rpms.in.yaml
  rpms.lock.yaml
  ubi.repo
Due: collector-on-push, otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push, otel-collector-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Update otel-target-allocator to d673006
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-operator to bc39a32
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-collector to d7293b0
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Fix readme
  README.md
Due: none

Update otel-collector to 215f9da
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-target-allocator to e377352
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-collector to 3189706
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-target-allocator to 21f34dd
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-operator to 18f3d7a
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Fix collector executable in image
  Dockerfile.collector
Due: collector-on-push, otel-collector-on-pull-request

Update otel-collector to 609a341
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Trigger builds
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: collector-on-push, otel-collector-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Update otel-target-allocator to 32e5c18
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-operator to 3c87d58
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-collector to fbeb64f
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Add renovate
  renovate.json
Due: none

Update bundle
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

use quay registry for bundle PRs
  .tekton/otel-bundle-pull-request.yaml
Due: otel-bundle-on-pull-request, otel-bundle-on-push

Fix renovate for dockerfiles
  renovate.json
Due: none

Fix catalog build
  Dockerfile-4.12.catalog
  Dockerfile-4.13.catalog
  Dockerfile-4.14.catalog
  Dockerfile-4.15.catalog
  Dockerfile-4.16.catalog
Due: none

Add FIPS check for collector
  Dockerfile.collector
  fips_check.sh
Due: collector-on-push, otel-collector-on-pull-request

Use SHA for base images to enable mintmaker
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: collector-on-push, otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push, otel-collector-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Use SHA for base images to enable mintmaker
  Dockerfile.collector
Due: collector-on-push, otel-collector-on-pull-request

Use sha for base image (#137)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: collector-on-push, otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push, otel-collector-on-pull-request, otel-operator-on-push, otel-target-allocator-on-push

Add FIPS check for collector (#136)
  Dockerfile.collector
  fips_check.sh
Due: collector-on-push, otel-collector-on-pull-request

Update otel-operator to 680b47a
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-target-allocator to 5637069
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Update otel-operator to b733ef1
  bundle-patch/update_bundle.sh
Due: otel-bundle-on-pull-request, otel-bundle-on-push, otel-bundle-quay-on-push

Path conditions:
  collector-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/collector-pull-request.yaml)) or (any of: .tekton/collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: redhat-opentelemetry-collector)
  otel-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: redhat-opentelemetry-collector)
  otel-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: opentelemetry-operator)
  otel-target-allocator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: opentelemetry-operator)
