Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

otel-bundle-development-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-target-allocator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Create the junit reports directory for tests (#732)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
Due: none

configure catalog to use bundle from otel-main-mfzzr
  catalog/catalog.env
Due: otel-fbc-v4-14-development-on-push

Rerun build command to readme
  README.md
Due: none

Update to latest UBI and re-generate the rpms.lock.yaml
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Update to latest UBI and re-generate the rpms.lock.yaml (#744)
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Prepare bundle for 3.8.2 release
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
  catalog/catalog-template.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Update catalog for 3.8.2
  catalog/catalog-template.yaml
  catalog/catalog.env
Due: otel-fbc-v4-14-development-on-push

Update catalog for 3.8.2, it references correct bundle
  catalog/catalog.env
Due: otel-fbc-v4-14-development-on-push

Remove quite flag for DAST tests
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
Due: none

Remove quite flag for DAST tests (#757)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
Due: none

TRACING-5699: Remove opencensus deprecation alert
  bundle-patch/manifests/opentelemetry-operator-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

TRACING-5909: link to standalone OTEL docs
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Remove kube-rbac-proxy
  bundle-patch/bundle.env
  bundle-patch/patch_csv.py
  bundle-patch/patch_csv.yaml
  bundle-patch/update_bundle.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

TRACING-5909: link to standalone OTEL docs (#761)
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

TRACING-5699: Remove opencensus deprecation alert (#760)
  bundle-patch/manifests/opentelemetry-operator-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Productize rhosdt-3.9
  bundle-patch/bundle.env
  bundle-patch/patch_csv.py
  bundle-patch/patch_csv.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/update_bundle.sh
  rpms.lock.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

update versions
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Add operator to Observability category
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Add operator to Observability category (#768)
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Productize rhosdt-3.9 (#766)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/bundle.env
  bundle-patch/patch_csv.py
  bundle-patch/patch_csv.yaml
  bundle-patch/update_bundle.sh
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Red Hat Konflux update otel-fbc-v4-22-main
  .tekton/otel-fbc-v4-22-main-pull-request.yaml
  .tekton/otel-fbc-v4-22-main-push.yaml
Due: none

Onboard OCP 4.22, drop OCP 4.12 (unsupported)
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-22-pull-request.yaml
  .tekton/otel-fbc-v4-22-push.yaml
  Dockerfile-v4-22.catalog
Due: none

TRACING-5837: Update product images to RHEL9
  .tekton/images-mirror-set.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
  .tekton/integration-tests/resources/ImageContentSourcePolicy.yaml
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi8.repo
  bundle-patch/ubi9.repo
  bundle-patch/update_bundle.sh
  rpms.in.yaml
  rpms.lock.yaml
  ubi8.repo
  ubi9.repo
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Onboard OCP 4.22, drop OCP 4.12 (unsupported) (#772)
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-22-pull-request.yaml
  .tekton/otel-fbc-v4-22-push.yaml
  Dockerfile-v4-22.catalog
Due: none

TRACING-5837: Update product images to RHEL9 (#767)
  .tekton/images-mirror-set.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
  .tekton/integration-tests/resources/ImageContentSourcePolicy.yaml
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi8.repo
  bundle-patch/ubi9.repo
  bundle-patch/update_bundle.sh
  rpms.in.yaml
  rpms.lock.yaml
  ubi8.repo
  ubi9.repo
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

enable source RPMs in lockfiles
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi9.repo
  rpms.lock.yaml
  ubi9.repo
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

restore repository IDs
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi9.repo
  rpms.lock.yaml
  ubi9.repo
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

enable source RPMs in lockfiles (#773)
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi9.repo
  rpms.lock.yaml
  ubi9.repo
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Increase memory for sast-shell-check pod
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-target-allocator-main-on-push

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-main-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
