Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

otel-bundle-development-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-target-allocator-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Document
  rpms.in.yaml
Due: none

Try installWeakDeps for RPMs
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Remove dnf update -y
  Dockerfile.operator
  rpms.in.yaml
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Align with other dependencies
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Add script to generate catalog
  .github/update-catalog.yaml
  scripts/update-catalog.sh
Due: none

Change bundle
  catalog/catalog-template.yaml
Due: otel-fbc-v4-14-development-on-push

Add script to generate catalog
  .github/workflows/update-catalog.yaml
  scripts/update-catalog.sh
Due: none

Fix action
  .github/workflows/update-catalog.yaml
Due: none

reuse script
  .github/workflows/update-catalog.yaml
  scripts/update-catalog.py
  scripts/update-catalog.sh
Due: none

Add script to generate catalog
  .github/workflows/update-catalog.yaml
  scripts/update-catalog-opm.sh
  scripts/update-catalog.py
Due: none

Use git directly
  .github/workflows/update-catalog.yaml
Due: none

Update bundle image in catalog
  catalog/catalog-template.yaml
Due: otel-fbc-v4-14-development-on-push

Add script to generate catalog (#493)
  .github/workflows/update-catalog.yaml
  scripts/update-catalog-opm.sh
  scripts/update-catalog.py
Due: none

Use ubi-micro for operator (#484)
  .tekton/multi-arch-build-pipeline.yaml
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  README.md
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

chore(deps): update konflux references
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Fix RPM SBOM instructions
  README.md
Due: none

sast-unicode-check add image digest
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

sast-unicode-check add image digest
  .tekton/multi-arch-build-pipeline.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

sast-unicode-check add image digest
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

add dockerfile and pipelines for OCP 4.20 (#462)
  .tekton/otel-fbc-v4-20-pull-request.yaml
  .tekton/otel-fbc-v4-20-push.yaml
  Dockerfile-v4-20.catalog
Due: none

Update konflux references (#497)
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Configure nudging for FBC 20
  .tekton/otel-fbc-v4-20-push.yaml
  README.md
  catalog/catalog-template.yaml
Due: otel-fbc-v4-14-development-on-push

Update UBI images
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Remove nudging temporarely
  .tekton/otel-fbc-v4-20-push.yaml
Due: none

Update UBI images (#498)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Add spaces to avoid git conflicts
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Bump UBI micro
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update to 0.127.0, operator is build of the main
  Dockerfile.bundle
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

trigger build
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update to 0.127.0, operator is build of the main (#505)
  Dockerfile.bundle
  Dockerfile.operator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
