Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

otel-bundle-development-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-target-allocator-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Update OTEL_BUNDLE_IMAGE_PULLSPEC in catalog.env
  catalog/catalog.env
Due: otel-fbc-v4-14-development-on-push

Onboard to OCP 4.21
  .tekton/otel-fbc-v4-21-pull-request.yaml
  .tekton/otel-fbc-v4-21-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-21-main
  .tekton/otel-fbc-v4-21-main-pull-request.yaml
  .tekton/otel-fbc-v4-21-main-push.yaml
Due: none

Onboard to OCP 4.21 (#668)
  .tekton/otel-fbc-v4-21-pull-request.yaml
  .tekton/otel-fbc-v4-21-push.yaml
Due: none

Add GHA to test multi-arch images in the bundle
  .github/workflows/check-multiarch-images.yml
  scripts/check-image-multiarch.sh
Due: none

Fix GHA
  .github/workflows/check-multiarch-images.yml
  scripts/check-image-multiarch.sh
Due: none

Fix multi arch GHA
  .github/workflows/check-multiarch-images.yml
Due: none

Use multi-arch RBAC proxy image
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Fix multi arch GHA
  scripts/check-image-multiarch.sh
Due: none

Use multi-arch RBAC proxy image (#675)
  bundle-patch/bundle.env
  scripts/check-image-multiarch.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Snyk: scan only files that belong to the project
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Snyk: scan only files that belong to the project (#679)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

chore(KONFLUX-6210): fix and set name and cpe label for otel-target-allocator-main
  Dockerfile.targetallocator
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for otel-operator-main
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

chore(KONFLUX-6210): fix and set name and cpe label for otel-bundle-main
  Dockerfile.bundle
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

chore(KONFLUX-6210): fix and set name and cpe label for otel-collector-main
  Dockerfile.collector
Due: otel-collector-development-on-push

Add konflux tool
  bundle-patch/bundle.env
  konflux-tool/.gitignore
  konflux-tool/README.md
  konflux-tool/go.mod
  konflux-tool/go.sum
  konflux-tool/instructions.md
  konflux-tool/main.go
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Fix
  konflux-tool/instructions.md
  konflux-tool/main.go
Due: none

Add versions.sh
  Dockerfile.targetallocator
  versions.sh
Due: none

apply suggestions from gemini
  versions.sh
Due: none

Update versions.sh
  versions.sh
Due: none

Add alert for OpenCensus receiver deprecation/removal
  bundle-patch/manifests/opentelemetry-operator-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Add alert for OpenCensus receiver deprecation/removal (#692)
  bundle-patch/manifests/opentelemetry-operator-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

fetch latest released bundle, bump build number
  versions.sh
Due: none

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
