Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-main-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-operator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)

Set min OCP version to 4.12
  Dockerfile.bundle
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Set min OCP version to 4.12 (#801)
  Dockerfile.bundle
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Clarify branch policy
  README.md
Due: none

Clarify branch policy (#805)
  README.md
Due: none

Prepare RHOSDT 3.9.2 release
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Prepare RHOSDT 3.9.2 release (#819)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver] (#822)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

update RPM lockfiles
  bundle-patch/rpms.lock.yaml
  rpms.lock.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

bump version to 0.144.0-3
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

bump version to 0.144.0-3 (#834)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update bundle [release-driver] (#841)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Add OLMv1 bundle compliance checks and 4.21+ e2e pipeline
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-21-olmv1.yaml
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/single-arch-build-pipeline.yaml
  scripts/validate-bundle-sdk.sh
  scripts/validate-olmv1-compliance.py
  scripts/validate-olmv1-compliance.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Add OLMv1 bundle compliance checks and 4.21+ e2e pipeline (#851)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-21-olmv1.yaml
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/single-arch-build-pipeline.yaml
  scripts/validate-bundle-sdk.sh
  scripts/validate-olmv1-compliance.py
  scripts/validate-olmv1-compliance.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Bump OpenTelemetry to operator 0.152.0 / collector 0.152.1
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
  catalog/catalog-template.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Revert catalog-template.yaml changes, release driver handles this
  catalog/catalog-template.yaml
Due: otel-fbc-v4-14-development-on-push

Bump OpenTelemetry to operator 0.152.0 / collector 0.152.1 (#854)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update to 3.10
  versions.sh
Due: none

Update CPE version to 3.10 in Dockerfiles
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Refresh rpm lockfiles to include missing glibc dependency
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update to RHOSDT 3.10 + rpm lockfiles (#862)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  rpms.lock.yaml
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Pin submodules to rhosdt-3.10 branch
  .gitmodules
Due: none

Pin submodules to rhosdt-3.10 branch (#863)
  .gitmodules
Due: none

Update bundle [release-driver] (#867)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Fix bundle CPE label to pass enforce-cpe-label release check
  Dockerfile.bundle
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Fix bundle CPE label to pass enforce-cpe-label release check (#868)
  Dockerfile.bundle
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver] (#869)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push
