Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-target-allocator-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Trigger builds
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update dnf
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Remove coreutils
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update rpms
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update rpms
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Trigger build with activation key
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Fix gpg key
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Fix openssl
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Skip broken
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Add glibc
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Add glibc
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Reorganize
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Fix lockfile
  Dockerfile.operator
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

releasever
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Rename main to development
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-fbc-v4-17-pull-request.yaml
  .tekton/otel-fbc-v4-17-push.yaml
  .tekton/otel-fbc-v4-18-pull-request.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-pull-request.yaml
  .tekton/otel-fbc-v4-19-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Use ubi-micro for operator
  Dockerfile.operator
  rpms.in.yaml
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Trigger
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Remove rpm --root --import
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Run rpm-lockfile-prototype --bare rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Use stageName: target-base in the rpms.in
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Use reposdir from /etc/yum
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Try rpm --root /mnt/rootfs --import /etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release, protected_packages
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Try reverting rpms.lock
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Revert rpms.lock and add /tpm/idir to fix SAST coverity check
  Dockerfile.operator
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Fix typo tmp
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Red Hat Konflux update otel-operator-development Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-operator-development-pull-request.yaml
  .tekton/otel-operator-development-push.yaml
Due: none

Update sast coverity task
  .tekton/multi-arch-build-pipeline.yaml
  Dockerfile.operator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Review comments: from scratch
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Use ubi-micro for collector and ta
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Add instructions
  README.md
Due: none

Add more instructions
  README.md
Due: none

Try using RPM stageName: ubi-micro-additional-packages
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Cleanup
  rpms.in.yaml
Due: none

Rename target to install-additional-packages
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  rpms.in.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

The stageName: target-base
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Path conditions:
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
