Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-target-allocator-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Add catalogs for OCP 4.18 and 4.19
  Dockerfile-v4-18.catalog
  Dockerfile-v4-19.catalog
Due: none

Red Hat Konflux update otel-fbc-v4-18-development Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-18-development-pull-request.yaml
  .tekton/otel-fbc-v4-18-development-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-18-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-18-main-pull-request.yaml
  .tekton/otel-fbc-v4-18-main-push.yaml
Due: none

RHOSDT: OTEL onboard to ocp 4.18 and 4.19
  .tekton/otel-fbc-v4-18-pull-request.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-pull-request.yaml
  .tekton/otel-fbc-v4-19-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-19-development Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-19-development-pull-request.yaml
  .tekton/otel-fbc-v4-19-development-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-19-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-19-main-pull-request.yaml
  .tekton/otel-fbc-v4-19-main-push.yaml
Due: none

update scripts to add version suffix to component names
  scripts/snapshot-tool.py
  scripts/update-catalog.py
Due: none

Add Konflux scripts and update README (#231)
  README.md
  scripts/diff-csv.sh
  scripts/snapshot-tool.py
  scripts/update-catalog.py
Due: none

Try bundle from scratch
  Dockerfile.bundle
Due: otel-bundle-quay-development-on-push

Try bundle from scratch (#370)
  Dockerfile.bundle
Due: otel-bundle-quay-development-on-push

Use RHEL8 for bundle and pyyaml
  Dockerfile.bundle
  bundle-patch/patch_annotations.py
  bundle-patch/patch_csv.py
  bundle-patch/update_bundle.sh
Due: otel-bundle-quay-development-on-push

Fix hermetic
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi8.repo
  bundle-patch/ubi9.repo
Due: otel-bundle-quay-development-on-push

Fix annotations
  Dockerfile.bundle
  bundle-patch/patch_annotations.py
  bundle-patch/patch_csv.py
Due: otel-bundle-quay-development-on-push

Add git instructions
  README.md
Due: none

Fix readme
  README.md
Due: none

Use RHEL8 for bundle and pyyaml (#375)
  Dockerfile.bundle
  bundle-patch/patch_annotations.py
  bundle-patch/patch_csv.py
  bundle-patch/rpms.in.yaml
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi8.repo
  bundle-patch/ubi9.repo
  bundle-patch/update_bundle.sh
Due: otel-bundle-quay-development-on-push

Fix bundle rpms EC
  Dockerfile.bundle
  bundle-patch/rpms.lock.yaml
  bundle-patch/ubi8.repo
Due: otel-bundle-quay-development-on-push

Document git submodule
  README.md
Due: none

disable renovate on git submodules
  renovate.json
Due: none

disable renovate on git submodules (#386)
  renovate.json
Due: none

remove preflight check
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-quay-development-on-push

remove preflight check (#387)
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-quay-development-on-push

Add SAST coverity, shell and unicode checks
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

fix sast checks for single arch pipeline
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-quay-development-on-push

disable sast coverity check
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Add SAST coverity, shell and unicode checks (#388)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update OTEL integration test pipelines
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/ImageContentSourcePolicy.yaml
  .tekton/integration-tests/resources/install.yaml
Due: none

Update URL for ICSP
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
Due: none

update golang to 1.23
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

drop postUpgradeTasks from renovate config
  renovate.json
Due: none

drop postUpgradeTasks from renovate config (#394)
  renovate.json
Due: none

update golang to 1.23 (#393)
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Release - update bundle version 3.5
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
Due: otel-bundle-quay-development-on-push

Release - update bundle version 3.5 (#395)
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
Due: otel-bundle-quay-development-on-push

Update OTEL integration test pipelines (#392)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/ImageContentSourcePolicy.yaml
  .tekton/integration-tests/resources/install.yaml
Due: none

Path conditions:
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
