Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Path conditions:
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)

Fix typo
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
Due: none

Fix typo (#399)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
Due: none

update golang to v1.23.6
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

enable sast-coverity again
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Dockerfile.bundle
  bundle-patch/patch_annotations.py
  bundle-patch/update_bundle.sh
Due: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

update golang to v1.23.6 (#400)
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

fix path in bundle dockerfile
  Dockerfile.bundle
Due: otel-bundle-quay-development-on-push

Enable sast-coverity-check (#403)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Dockerfile.bundle
  bundle-patch/patch_annotations.py
  bundle-patch/update_bundle.sh
Due: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

update pullspecs
  bundle-patch/bundle.env
Due: otel-bundle-quay-development-on-push

update pullspecs (#406)
  bundle-patch/bundle.env
Due: otel-bundle-quay-development-on-push

Red Hat Konflux update tempo-fbc-v4-14-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-14-main-pull-request.yaml
  .tekton/tempo-fbc-v4-14-main-push.yaml
Due: none

Red Hat Konflux update tempo-fbc-v4-15-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tempo-fbc-v4-15-main-pull-request.yaml
  .tekton/tempo-fbc-v4-15-main-push.yaml
Due: none

Install logging and loki from stable-6.1 channel
  .tekton/integration-tests/resources/install.yaml
Due: none

Install logging and loki from stable-6.1 channel (#411)
  .tekton/integration-tests/resources/install.yaml
Due: none

Docs for konflux tasks
  README.md
Due: none

Update README IDMS step
  README.md
Due: none

Update README IDMS step (#412)
  README.md
Due: none

Add FBC fips check
  .tekton/fbc-build-pipeline.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-fbc-v4-17-pull-request.yaml
  .tekton/otel-fbc-v4-17-push.yaml
  .tekton/otel-fbc-v4-18-pull-request.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-pull-request.yaml
  .tekton/otel-fbc-v4-19-push.yaml
Due: otel-fbc-v4-14-development-on-push

Add FBC fips check (#413)
  .tekton/fbc-build-pipeline.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-fbc-v4-17-pull-request.yaml
  .tekton/otel-fbc-v4-17-push.yaml
  .tekton/otel-fbc-v4-18-pull-request.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-pull-request.yaml
  .tekton/otel-fbc-v4-19-push.yaml
Due: otel-fbc-v4-14-development-on-push

drop quay bundle
  .tekton/otel-bundle-quay-pull-request.yaml
  .tekton/otel-bundle-quay-push.yaml
  scripts/snapshot-tool.py
  scripts/update-catalog.py
Due: otel-bundle-quay-development-on-push

drop quay bundle (#414)
  .tekton/otel-bundle-quay-pull-request.yaml
  .tekton/otel-bundle-quay-push.yaml
  scripts/snapshot-tool.py
  scripts/update-catalog.py
Due: otel-bundle-quay-development-on-push

fix(CVP-4387): add fbc-target-index-pruning-check to FBC pipelines
  .tekton/fbc-build-pipeline.yaml
Due: none

fix(CVP-4387): add fbc-target-index-pruning-check to FBC pipelines (#417)
  .tekton/fbc-build-pipeline.yaml
Due: none

update bundle
  bundle-patch/bundle.env
Due: otel-bundle-quay-development-on-push

update bundle (#422)
  bundle-patch/bundle.env
Due: otel-bundle-quay-development-on-push

Remove unsupported operator versions from OCP 4.14 testing jobs
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/install-4-14.yaml
  .tekton/integration-tests/resources/install-4-17.yaml
Due: none

Remove unsupported operator versions from OCP 4.14 testing jobs (#423)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/install-4-14.yaml
  .tekton/integration-tests/resources/install-4-17.yaml
Due: none

Add ImageDigestMirrorSet to pass fbc-fips-check-oci-ta check
  .tekton/fbc-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  README.md
Due: none

Add ImageDigestMirrorSet to pass fbc-fips-check-oci-ta check (#425)
  .tekton/fbc-build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  README.md
Due: none

add default monitoring annotation
  bundle-patch/patch_csv.yaml
Due: otel-bundle-quay-development-on-push

chore(deps): update konflux references
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update fbc-fips-check-oci-ta task
  .tekton/fbc-build-pipeline.yaml
Due: none

Update fbc-fips-check-oci-ta task (#428)
  .tekton/fbc-build-pipeline.yaml
Due: none

Update image reference in bundle to use prod registry
  Dockerfile.bundle
Due: otel-bundle-quay-development-on-push

Update image reference in bundle to use prod registry (#433)
  Dockerfile.bundle
Due: otel-bundle-quay-development-on-push
