Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-main-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-operator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)

Feat/rpm CVE check (#963)
  .gitignore
  tools/rpm-cve/Dockerfile
  tools/rpm-cve/README.md
  tools/rpm-cve/rpm-cve-check.yml
  tools/rpm-cve/rpm_cve_check.py
  tools/rpm-cve/test_rpm_cve_check.py
Due: none

chore: move the GHA for the CVE tool into the correct dir
  .github/workflows/rpm-cve-check.yml
Due: none

chore: move the GHA for the CVE tool into the correct dir (#964)
  .github/workflows/rpm-cve-check.yml
Due: none

Extend CVE check tool to golang via SBOM investigation
  .github/workflows/image-cve-check.yml
  tools/image-cve-check/Dockerfile
  tools/image-cve-check/README.md
  tools/image-cve-check/collector-3.10-rpmdb-golang.md
  tools/image-cve-check/image_cve_check.py
  tools/image-cve-check/test_image_cve_check.py
  tools/rpm-cve/Dockerfile
  tools/rpm-cve/README.md
  tools/rpm-cve/rpm_cve_check.py
  tools/rpm-cve/test_rpm_cve_check.py
Due: none

Extend the CVE tool to handle golang and other runtime dependencies via SBOM (#965)
  .github/workflows/image-cve-check.yml
  tools/image-cve-check/Dockerfile
  tools/image-cve-check/README.md
  tools/image-cve-check/collector-3.10-rpmdb-golang.md
  tools/image-cve-check/image_cve_check.py
  tools/image-cve-check/test_image_cve_check.py
  tools/rpm-cve/Dockerfile
  tools/rpm-cve/README.md
  tools/rpm-cve/rpm_cve_check.py
  tools/rpm-cve/test_rpm_cve_check.py
Due: none

chore: remove GHA for the RPM tool, it was renamed
  .github/workflows/rpm-cve-check.yml
Due: none

Remove example
  tools/image-cve-check/collector-3.10-rpmdb-golang.md
Due: none

chore: remove GHA for the RPM tool, it was renamed (#966)
  .github/workflows/rpm-cve-check.yml
  tools/image-cve-check/collector-3.10-rpmdb-golang.md
Due: none

refactor: extract scan_image() from main()
  tools/image-cve-check/image_cve_check.py
  tools/image-cve-check/test_image_cve_check.py
Due: none

feat: restructure CLI into scan and diff subcommands
  tools/image-cve-check/image_cve_check.py
  tools/image-cve-check/test_image_cve_check.py
Due: none

feat: implement diff_results() for CVE comparison
  tools/image-cve-check/image_cve_check.py
  tools/image-cve-check/test_image_cve_check.py
Due: none

feat: implement markdown and YAML diff formatters
  tools/image-cve-check/image_cve_check.py
  tools/image-cve-check/test_image_cve_check.py
Due: none

docs: document diff subcommand in README
  tools/image-cve-check/README.md
Due: none

Update readme
  tools/image-cve-check/README.md
Due: none

Feat/image CVE diff (#971)
  tools/image-cve-check/README.md
  tools/image-cve-check/image_cve_check.py
  tools/image-cve-check/test_image_cve_check.py
Due: none

TRACING-6550,6551: Update base images and RPM lockfile for CVE fixes
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

TRACING-6550,6551: Update base images and RPM lockfile for CVE fixes (#974)
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Add generated catalogs
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver] (#976)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Bump bundle version to 0.152.0-3
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Bump bundle version to 0.152.0-3 (#977)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update bundle [release-driver] (#978)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver] (#979)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update catalog [release-driver]
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Update catalog [release-driver] (#980)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

group ubi9 mintmaker updates
  renovate.json
Due: none

group RPM lockfile updates
  renovate.json
Due: none

group mintmaker updates (#989)
  renovate.json
Due: none

enable auto-merge for ubi9 and RPM lockfile groups
  renovate.json
Due: none

Remove the coverity check
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Remove the coverity check (#993)
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Refresh RPM lockfile
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Actually point to upstream, not the fork
  .gitmodules
Due: none

Add OBI gomod prefetch for hermetic builds
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
Due: otel-collector-development-on-push

WIP: Add OBI receiver to Red Hat collector build
  .gitmodules
  Dockerfile.collector
Due: otel-collector-development-on-push
