Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Path conditions:
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)

Upgrade libxml2 to 2.9.7-19.el8_10
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

also upgrade krb5-libs to 1.18.2-31.el8_10
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Upgrade libxml2 and krb5-libs (#434)
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Add instructions how to upgrade an existing package of the base image
  README.md
Due: none

update bundle
  bundle-patch/bundle.env
Due: otel-bundle-quay-development-on-push

update bundle (#441)
  bundle-patch/bundle.env
Due: otel-bundle-quay-development-on-push

Add instructions how to upgrade an existing package of the base image (#440)
  README.md
Due: none

Use image from registry.redhat.io for OCP 4.18 catalog
  Dockerfile-v4-18.catalog
Due: none

add default monitoring annotation (#427)
  bundle-patch/patch_csv.yaml
Due: otel-bundle-quay-development-on-push

Use image from registry.redhat.io for OCP 4.18 catalog (#450)
  Dockerfile-v4-18.catalog
Due: none

Add DAST scan using RapiDAST
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
Due: none

update scripts
  scripts/konflux-commit.sh
  scripts/snapshot-tool.py
Due: none

update scripts (#453)
  scripts/konflux-commit.sh
  scripts/snapshot-tool.py
Due: none

Add DAST scan using RapiDAST (#452)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
Due: none

update lockfile input, updated packages exist in base image already
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

update lockfile input, updated packages exist in base image already (#455)
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update bundle
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
  scripts/snapshot-tool.py
Due: otel-bundle-quay-development-on-push

Update bundle (#460)
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
  scripts/snapshot-tool.py
Due: otel-bundle-quay-development-on-push

add dockerfile for OCP 4.20
  Dockerfile-v4-20.catalog
Due: none

add pipelines
  .tekton/otel-fbc-v4-20-pull-request.yaml
  .tekton/otel-fbc-v4-20-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-20-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-20-main-pull-request.yaml
  .tekton/otel-fbc-v4-20-main-push.yaml
Due: none

Red Hat Konflux update otel-fbc-v4-20-development Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/otel-fbc-v4-20-development-pull-request.yaml
  .tekton/otel-fbc-v4-20-development-push.yaml
Due: none

Rename main to development
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-fbc-v4-17-pull-request.yaml
  .tekton/otel-fbc-v4-17-push.yaml
  .tekton/otel-fbc-v4-18-pull-request.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-pull-request.yaml
  .tekton/otel-fbc-v4-19-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Use ubi-micro for operator
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Add spaces
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Use ubi-micro for operator (#473)
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Pin UBI version
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update bundle with the new operator image
  Dockerfile.bundle
  bundle-patch/bundle.env
  bundle-patch/patch_csv.yaml
Due: otel-bundle-quay-development-on-push

Update dockerfile
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Trigger builds
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push
