Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

otel-bundle-development-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-target-allocator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Fix service account
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-fbc-v4-17-pull-request.yaml
  .tekton/otel-fbc-v4-17-push.yaml
  .tekton/otel-fbc-v4-18-pull-request.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-pull-request.yaml
  .tekton/otel-fbc-v4-19-push.yaml
  .tekton/otel-fbc-v4-20-pull-request.yaml
  .tekton/otel-fbc-v4-20-push.yaml
  .tekton/otel-fbc-v4-21-pull-request.yaml
  .tekton/otel-fbc-v4-21-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-bundle-development-on-pull-request, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Fix service account (#693)
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-fbc-v4-17-pull-request.yaml
  .tekton/otel-fbc-v4-17-push.yaml
  .tekton/otel-fbc-v4-18-pull-request.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-pull-request.yaml
  .tekton/otel-fbc-v4-19-push.yaml
  .tekton/otel-fbc-v4-20-pull-request.yaml
  .tekton/otel-fbc-v4-20-push.yaml
  .tekton/otel-fbc-v4-21-pull-request.yaml
  .tekton/otel-fbc-v4-21-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-bundle-development-on-pull-request, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Red Hat Konflux update otel-target-allocator-main
  .tekton/otel-target-allocator-main-pull-request.yaml
  .tekton/otel-target-allocator-main-push.yaml
Due: none

Red Hat Konflux update otel-operator-main
  .tekton/otel-operator-main-pull-request.yaml
  .tekton/otel-operator-main-push.yaml
Due: none

Update operands
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Update operands (#696)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Update operands (#697)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Update UBI to latest
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Update proxy pullspec
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Add CPE number
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Update proxy pullspec (#701)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Update UBI to latest (#700)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Add CPE number (#704)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Add versions.sh
  versions.sh
Due: none

apply suggestions from gemini
  versions.sh
Due: none

Update versions.sh
  versions.sh
Due: none

fetch latest released bundle, bump build number
  versions.sh
Due: none

Add versions script (#706)
  versions.sh
Due: none

Update submodules to RHODT 3.8 and 0.140.0
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Pin 0.135.0-1 bundle to rh registry
  catalog/catalog-template.yaml
Due: otel-fbc-v4-14-development-on-push

Update submodules to RHODT 3.8 and 0.140.0 (#711)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-main-on-push

Update catalog for 3.8 / 0.140.0
  catalog/catalog-template.yaml
  catalog/catalog.env
Due: otel-fbc-v4-14-development-on-push

Allow runing tests pipelines on incoming events
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Allow runing tests pipelines on incoming events (#724)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

drop support for 4.15 and older
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  Dockerfile-v4-15.catalog
Due: none

Use rhel9 kube-rbac-proxy
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

drop support for 4.15 and older (#728)
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  Dockerfile-v4-15.catalog
Due: none

Use rhel9 kube-rbac-proxy (#730)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Add --quiet parameter to the chainsaw test commands to reduce verbosity
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Add --quiet parameter to the chainsaw test commands to reduce verbosity (#731)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Create the junit reports directory for tests
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
Due: none

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
