Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

otel-bundle-development-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-operator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  - pipelineTaskName: sast-shell-check
    computeResources:
      requests:
        memory: 6Gi
      limits:
        memory: 6Gi
  ...

otel-target-allocator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Define test parameters in the pipeline (#896)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

PQC: ML-KEM ciphers
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

update RPM lock file
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Use a separate layer
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Add generated catalogs
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver] (#924)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update catalog [release-driver]
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Update catalog [release-driver] (#925)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Revert "Update catalog [release-driver] (#925)"
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Revert "Update catalog [release-driver] (#925)" (#926)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Update catalog [release-driver] (#927)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Remove update-catalog workflow
  .github/workflows/update-catalog.yaml
Due: none

Bump bundle version to 0.152.0-2
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Bump bundle version to 0.152.0-2 (#932)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
  otel-prod-3.10.yaml
  otel-prod-fbc-3.10.yaml
  otel-stage-3.10.yaml
  otel-stage-fbc-3.10.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver] (#935)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update catalog [release-driver] (#936)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Revert "Update catalog [release-driver] (#936)"
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Revert "Bump bundle version to 0.152.0-2 (#932)"
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Revert "Update bundle [release-driver] (#935)"
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Reapply "Update catalog [release-driver] (#925)" (#926)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Revert "Update catalog [release-driver] (#927)"
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Revert "Refresh RPM lockfiles (#917)"
  bundle-patch/rpms.lock.yaml
  rpms.lock.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Revert "Update bundle [release-driver] (#924)"
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Revert "Update registry.redhat.io/ubi9/ubi-minimal:latest Docker digest to 2a98ec3 (#922)"
  Dockerfile.bundle
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Revert "Update actions/checkout action to v7.0.1 (#918)"
  .github/workflows/update-catalog.yaml
Due: none

Revert "Update quay.io/konflux-ci/build-trusted-artifacts:latest Docker digest to 5746821 (#919)"
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Revert "Update registry.redhat.io/ubi9/ubi:latest Docker digest to 5bc3262 (#904)"
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Revert "Update Konflux references (#920)"
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Revert "Update docker/login-action action to v4.5.1 (#921)"
  .github/workflows/check-multiarch-images.yml
  .github/workflows/update-catalog.yaml
Due: none

Revert "Update registry.redhat.io/ubi9/ubi-minimal:latest Docker digest to 2e8edce (#914)"
  Dockerfile.bundle
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Revert "Update Konflux references (#902)"
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Revert "Update quay.io/konflux-ci/build-trusted-artifacts:latest Docker digest to 09c323a (#901)"
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-main-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-operator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
