Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

otel-bundle-development-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-operator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  - pipelineTaskName: sast-shell-check
    computeResources:
      requests:
        memory: 6Gi
      limits:
        memory: 6Gi
  ...

otel-target-allocator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Surface chainsaw JUnit reports on e2e test failure
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
Due: none

Add tests/e2e-otel/azuremonitorlogs to skip-tests (#1008)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
Due: none

Add RELATED_IMAGE env vars to webhook deployment
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Add RELATED_IMAGE env vars to webhook deployment (#1013)
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Fix patch_csv.py to apply patches to all deployments, not just the first
  bundle-patch/patch_csv.py
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Fix patch_csv.py to apply patches to all deployments, not just the first (#1017)
  bundle-patch/patch_csv.py
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver] (#1019)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Override webhook container image in bundle CSV
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Override webhook container image in bundle CSV (#1021)
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update catalog to snapshot otel-main-20260825-143143-000
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Update catalog to snapshot otel-main-20260825-143143-000 (#1023)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Add Dockerfile-v4-23.catalog
  Dockerfile-v4-23.catalog
Due: none

Align v4-23 FBC pipelines with catalog convention
  .tekton/otel-fbc-v4-23-main-pull-request.yaml
  .tekton/otel-fbc-v4-23-main-push.yaml
Due: none

Onboard OCP 4.23 (#1026)
  .tekton/otel-fbc-v4-23-main-pull-request.yaml
  .tekton/otel-fbc-v4-23-main-push.yaml
  Dockerfile-v4-23.catalog
Due: none

Onboard coderabbit
  .coderabbit.yaml
Due: none

Onboard coderabbit (#1029)
  .coderabbit.yaml
Due: none

Refresh RPM lockfiles [SECURITY]
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Refresh RPM lockfiles [SECURITY] (#1035)
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Bump bundle.env to snapshot otel-main-20260917-065414-000
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Bump bundle.env to snapshot otel-main-20260917-065414-000 (#1037)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Bump bundle version to 0.158.0-2
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Bump bundle version to 0.158.0-2 (#1040)
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update bundle [release-driver] (#1041)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update catalog [release-driver]
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Update catalog [release-driver] (#1042)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Add FIPS check tool
  .gitignore
  tools/fips-check/README.md
  tools/fips-check/checker/buildinfo.go
  tools/fips-check/checker/classification.go
  tools/fips-check/checker/classification.yaml
  tools/fips-check/checker/classification_test.go
  tools/fips-check/checker/dependency.go
  tools/fips-check/checker/finding.go
  tools/fips-check/checker/symbol.go
  tools/fips-check/checker/symbol_test.go
  tools/fips-check/go.mod
  tools/fips-check/go.sum
  tools/fips-check/main.go
  tools/fips-check/reporter/report.go
  tools/fips-check/reporter/text.go
  tools/fips-check/reporter/text_test.go
  tools/fips-check/reporter/yaml.go
Due: none

Fix go mod why showing only one import
  tools/fips-check/README.md
  tools/fips-check/checker/dependency.go
  tools/fips-check/checker/finding.go
  tools/fips-check/reporter/text.go
  tools/fips-check/reporter/text_test.go
Due: none

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-main-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-operator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
