Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)

Update opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
Due: none

Update opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml (#550)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
Due: none

Update bundle RPMs
  bundle-patch/rpms.lock.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Update bundle RPMs (#552)
  bundle-patch/rpms.lock.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Bundle image for 0.127.0-2
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Bundle image for 0.127.0-2 (#557)
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

update catalog template
  catalog/catalog-template.yaml
Due: otel-fbc-v4-14-development-on-push

Only run/trigger FBC tests on push events
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Only run/trigger FBC tests on push events (#563)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Run the main app integration tests only on push events
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
Due: none

Run the main app integration tests only on push events (#564)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
Due: none

Bump Golang to 1.24, fixes CVE-2025-4673
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Bump Golang to 1.24, fixes CVE-2025-4673 (#565)
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Run all integration test tasks only on push events
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Run all integration test tasks only on push events (#569)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Use quay.io/redhat-distributed-tracing-qe/konflux-e2e:latest for running integration tests
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Use quay.io/redhat-distributed-tracing-qe/konflux-e2e:latest for running integration tests (#575)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Support running update-catalog.py from a different folder
  scripts/update-catalog.py
Due: none

Support running update-catalog.py from a different folder (#578)
  scripts/update-catalog.py
Due: none

Use OCP 4.18 as max version for test pipelines
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
  .tekton/integration-tests/resources/install-4-18.yaml
Due: none

Use OCP 4.18 as max version for test pipelines (#579)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
  .tekton/integration-tests/resources/install-4-18.yaml
Due: none

update renovatebot config
  bundle-patch/bundle.env
  renovate.json
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

update renovatebot config (#580)
  bundle-patch/bundle.env
  renovate.json
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

chore(deps): update konflux references
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Improvements to README to make more generic
  README.md
Due: none

fix: replace unsafe yaml.load() with yaml.safe_load() in bundle-patch scripts
  bundle-patch/patch_annotations.py
  bundle-patch/patch_csv.py
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

fix: replace unsafe yaml.load() with yaml.safe_load() in bundle-patch scripts (#586)
  bundle-patch/patch_annotations.py
  bundle-patch/patch_csv.py
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

TRACING-5501: Drop multi-arch FBCs
  .tekton/otel-fbc-v4-12-pull-request.yaml
  .tekton/otel-fbc-v4-12-push.yaml
  .tekton/otel-fbc-v4-14-pull-request.yaml
  .tekton/otel-fbc-v4-14-push.yaml
  .tekton/otel-fbc-v4-15-pull-request.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-pull-request.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-fbc-v4-17-pull-request.yaml
  .tekton/otel-fbc-v4-17-push.yaml
  .tekton/otel-fbc-v4-18-pull-request.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-pull-request.yaml
  .tekton/otel-fbc-v4-19-push.yaml
  .tekton/otel-fbc-v4-20-pull-request.yaml
  .tekton/otel-fbc-v4-20-push.yaml
Due: otel-fbc-v4-14-development-on-push

TRACING-5552: Remove --dev-package-managers
  .tekton/otel-bundle-pull-request.yaml
  .tekton/otel-bundle-push.yaml
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  .tekton/otel-operator-pull-request.yaml
  .tekton/otel-operator-push.yaml
  .tekton/otel-target-allocator-pull-request.yaml
  .tekton/otel-target-allocator-push.yaml
Due: otel-bundle-development-on-pull-request, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push
