Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-main-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-operator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)

Revert "chore(deps): refresh rpm lockfiles (#893)"
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Revert "Update registry.redhat.io/ubi9/ubi-minimal:latest Docker digest to 6c79f4f (#905)"
  Dockerfile.bundle
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Revert "Update registry.redhat.io/ubi9/ubi-micro:latest Docker digest to 35de56a (#906)"
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Revert "chore(deps): update actions/checkout action to v7 (#903)"
  .github/workflows/check-multiarch-images.yml
  .github/workflows/update-catalog.yaml
Due: none

Revert "Define test parameters in the pipeline (#896)"
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Revert "Update docker/login-action action to v4.4.0 (#907)"
  .github/workflows/check-multiarch-images.yml
  .github/workflows/update-catalog.yaml
Due: none

Replace opentelemetry-bundle image reference
  catalog/catalog-template.yaml
Due: otel-fbc-v4-14-development-on-push

Remove opentelemetry-operator.v0.152.0-2 entry
  catalog/catalog-template.yaml
Due: otel-fbc-v4-14-development-on-push

Add generated catalogs
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Replace opentelemetry-bundle image reference (#939)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver] (#951)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update catalog [release-driver]
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Update catalog [release-driver] (#952)
  catalog/catalog-template.yaml
  catalog/opentelemetry-product-4.17/catalog.yaml
  catalog/opentelemetry-product/catalog.yaml
Due: otel-fbc-v4-14-development-on-push

Onboard OCP 5.0
  .tekton/otel-fbc-v5-0-pull-request.yaml
  .tekton/otel-fbc-v5-0-push.yaml
  Dockerfile-v5-0.catalog
Due: none

Remove redundant pipeline files superseded by Konflux-generated ones
  .tekton/otel-fbc-v5-0-pull-request.yaml
  .tekton/otel-fbc-v5-0-push.yaml
Due: none

Onboard OCP 5.0 (#953)
  Dockerfile-v5-0.catalog
Due: none

Use shared fbc-build-pipeline for OCP 5.0 pipelines
  .tekton/otel-fbc-v5-0-main-pull-request.yaml
  .tekton/otel-fbc-v5-0-main-push.yaml
Due: none

Use shared fbc-build-pipeline for OCP 5.0 pipelines (#955)
  .tekton/otel-fbc-v5-0-main-pull-request.yaml
  .tekton/otel-fbc-v5-0-main-push.yaml
Due: none

test
  README.md
Due: none

Update lockfile
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

WIP: Add OBI receiver to Red Hat collector build
  .gitmodules
  Dockerfile.collector
Due: otel-collector-development-on-push

Pin OBI submodule branch to v0.10.0 tag
  .gitmodules
Due: none

Refresh RPM lockfiles
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update OBI replace path and Dockerfile to use repo-level ebpf submodule
  Dockerfile.collector
Due: otel-collector-development-on-push

Add OBI gomod prefetch for hermetic builds
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
Due: otel-collector-development-on-push

Add OBI internal/tools gomod prefetch for bpf2go dependencies
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
Due: otel-collector-development-on-push

feat: add lock file parser for rpm-cve-check
  scripts/rpm_cve_check.py
  scripts/test_rpm_cve_check.py
Due: none

refactor: remove dead code from rpm_cve_check.py
  scripts/rpm_cve_check.py
Due: none

feat: add image RPM classifier for rpm-cve-check
  scripts/rpm_cve_check.py
  scripts/test_rpm_cve_check.py
Due: none

feat: add Red Hat CVE API client for rpm-cve-check
  scripts/rpm_cve_check.py
  scripts/test_rpm_cve_check.py
Due: none

feat: add markdown and JSON report formatters for rpm-cve-check
  scripts/rpm_cve_check.py
  scripts/test_rpm_cve_check.py
Due: none

feat: add CLI main and GitHub Action for rpm-cve-check
  .github/workflows/rpm-cve-check.yml
  scripts/rpm_cve_check.py
Due: none

fix: address final review findings
  .github/workflows/rpm-cve-check.yml
  scripts/rpm_cve_check.py
Due: none

Move the tool to docker
  .github/workflows/rpm-cve-check.yml
  .gitignore
  scripts/rpm_cve_check.py
  scripts/test_rpm_cve_check.py
  tools/rpm-cve/Dockerfile
  tools/rpm-cve/README.md
  tools/rpm-cve/rpm-cve-check.yml
  tools/rpm-cve/rpm_cve_check.py
  tools/rpm-cve/test_rpm_cve_check.py
Due: none

Move the tool to docker
  tools/rpm-cve/README.md
Due: none
