Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

otel-bundle-development-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-target-allocator-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Update bundle with latest related images
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push

Add more labels to fix conforama
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update catalog
  .github/workflows/update-catalog.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-fbc-v4-17-push.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-push.yaml
  .tekton/otel-fbc-v4-20-push.yaml
  catalog/catalog-template.yaml
  catalog/catalog.env
Due: otel-fbc-v4-14-development-on-push

Fix nudging
  .tekton/otel-bundle-push.yaml
  .tekton/otel-fbc-v4-15-push.yaml
  .tekton/otel-fbc-v4-16-push.yaml
  .tekton/otel-fbc-v4-17-push.yaml
  .tekton/otel-fbc-v4-18-push.yaml
  .tekton/otel-fbc-v4-19-push.yaml
  .tekton/otel-fbc-v4-20-push.yaml
Due: otel-bundle-development-on-pull-request

Readme for catalog updates
  README.md
Due: none

Update Readme version and release lablel in dockerfiles
  README.md
Due: none

Use UBI as golang builder image
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Fetch tags
  .tekton/multi-arch-build-pipeline.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Consume operator version from a config file
  Dockerfile.operator
Due: otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Use UBI as golang builder image (#514)
  .tekton/multi-arch-build-pipeline.yaml
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Update the right bundle
  catalog/catalog.env
Due: otel-fbc-v4-14-development-on-push

Update integration test jobs for OTEL
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/install-4-14.yaml
  .tekton/integration-tests/resources/install-4-17.yaml
Due: none

Update integration test jobs for OTEL (#524)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-17.yaml
  .tekton/integration-tests/resources/install-4-14.yaml
  .tekton/integration-tests/resources/install-4-17.yaml
Due: none

Add trigger build instructions
  README.md
Due: none

chore(deps): update konflux references
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Add FBC integration job to test operator upgrade.
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Add FBC integration job to test operator upgrade. (#538)
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-17.yaml
Due: none

Fix
  .tekton/multi-arch-build-pipeline.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-target-allocator-development-on-push

Fix
  .tekton/fbc-build-pipeline.yaml
Due: none

Update catalog with released bundle
  catalog/catalog-template.yaml
Due: otel-fbc-v4-14-development-on-push

Add Tekton pipeline job to trigger OCP CI job using FBC fragment
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-pipeline-4-19.yaml
Due: none

Add Tekton pipeline job to trigger OCP CI job using FBC fragment (#547)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-pipeline-4-19.yaml
Due: none

Make the Prow CI Tekton pipeline generic
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
Due: none

Make the Prow CI Tekton pipeline generic (#548)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
Due: none

Fix default var for opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
Due: none

Fix default var for opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline (#549)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-fbc-ocp-ci-job-trigger-pipeline.yaml
Due: none

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
