Repository os-observability/konflux-opentelemetry: changes, and which Tekton pipelines are due for each by the changed paths.
All: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-fbc-v4-14-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

otel-bundle-development-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-bundle-main-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: output-image
  ...

otel-bundle-quay-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
    value: '[{"type": "rpm", "path": "./bundle-patch"}]'
  - name: hermetic
    value: 'true'
  - name: prefetch-dev-package-managers-enabled
    value: 'true'
  - name: output-image
  ...

otel-collector-development-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-fbc-v4-14-development-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: hermetic
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/rhosdt-tenant/otel/otel-fbc-v4-14:{{revision}}
  - name: dockerfile
    value: Dockerfile-v4-14.catalog
  ...

otel-operator-development-on-pull-request:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

otel-operator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  - pipelineTaskName: sast-shell-check
    computeResources:
      requests:
        memory: 6Gi
      limits:
        memory: 6Gi
  ...

otel-target-allocator-main-on-push:
  taskRunSpecs:
  - pipelineTaskName: prefetch-dependencies
    computeResources:
      requests:
        cpu: 300m
        memory: 256Mi
      limits:
        memory: 4Gi
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: prefetch-input
  ...

Update lockfile
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update Dockerfile
  Dockerfile.collector
Due: otel-collector-development-on-push

Refresh RPM lockfiles
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Bump redhat-opentelemetry-collector submodule to latest main
  .gitmodules
Due: none

Add OBI internal/tools gomod prefetch for bpf2go dependencies
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
Due: otel-collector-development-on-push

Update OBI replace path and Dockerfile to use repo-level ebpf submodule
  Dockerfile.collector
Due: otel-collector-development-on-push

Pin OBI submodule branch to v0.10.0 tag
  .gitmodules
Due: none

Point submodule to upstream
  .gitmodules
Due: none

Use OBI as nested submodule inside collector
  .gitmodules
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  Dockerfile.collector
Due: otel-collector-development-on-push

PQC: ML-KEM ciphers
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

PQC: ML-KEM ciphers (#908)
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Remove git build dependency from collector image
  Dockerfile.collector
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Point submodules and version to rhosdt-3.11
  .gitmodules
  versions.sh
Due: none

Add OBI eBPF build harness for collector
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  Dockerfile.collector
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Run versions.sh
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Bump ubi9/ubi crypto-policies stage to 5426a8f
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update to rhosdt 3.11 (#996)
  .gitmodules
  .tekton/otel-collector-pull-request.yaml
  .tekton/otel-collector-push.yaml
  Dockerfile.bundle
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  bundle-patch/patch_csv.yaml
  rpms.in.yaml
  rpms.lock.yaml
  versions.sh
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push, otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Enable FIPS without openssl
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  fips_check_collector.sh
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

enable auto-merge for ubi9 and RPM lockfile groups (#990)
  renovate.json
Due: none

Enable FIPS without openssl (#994)
  Dockerfile.collector
  Dockerfile.operator
  Dockerfile.targetallocator
  fips_check_collector.sh
  rpms.in.yaml
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update bundle.env using snapshot-tool
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver]
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Update bundle [release-driver] (#998)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Fail multi-arch check early on fork PRs with clear message
  .github/workflows/check-multiarch-images.yml
Due: none

Bump integration test pipeline version defaults to 3.11 / 0.158.0
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Deprecate google cloud exporter
  bundle-patch/manifests/opentelemetry-operator-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Propagate integration test pipeline versions in versions.sh
  README.md
  versions.sh
Due: none

Bump integration test pipeline version defaults to 3.11 / 0.158.0 (#1000)
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-upgrade-test-fbc-pipeline-4-18.yaml
Due: none

Propagate integration test pipeline versions in versions.sh (#1001)
  README.md
  versions.sh
Due: none

Deprecate google cloud exporter (#1002)
  bundle-patch/manifests/opentelemetry-operator-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Refresh lockfile
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Refresh lockfile (#1006)
  rpms.lock.yaml
Due: otel-collector-development-on-push, otel-operator-development-on-pull-request, otel-operator-main-on-push, otel-target-allocator-main-on-push

Update bundle [release-driver] (#1007)
  bundle-patch/bundle.env
Due: otel-bundle-development-on-pull-request, otel-bundle-main-on-push, otel-bundle-quay-development-on-push

Add tests/e2e-otel/azuremonitorlogs to skip-tests
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-14.yaml
  .tekton/integration-tests/pipelines/opentelemetry-operator-e2e-test-pipeline-4-18.yaml
Due: none

Path conditions:
  otel-bundle-development-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-main-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-pull-request.yaml)) or (any of: .tekton/otel-bundle-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-bundle-quay-development-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/otel-bundle-quay-pull-request.yaml)) or (any of: .tekton/otel-bundle-quay-push.yaml)) or (any of: Dockerfile.bundle)) or (any of: bundle-patch/***)) or (any of: opentelemetry-operator)
  otel-collector-development-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-collector-pull-request.yaml)) or (any of: .tekton/otel-otel-collector-push.yaml)) or (any of: Dockerfile.collector)) or (any of: rpms.lock.yaml)) or (any of: redhat-opentelemetry-collector)
  otel-fbc-v4-14-development-on-push: (((any of: .tekton/otel-fbc-v4-14-pull-request.yaml) or (any of: .tekton/otel-fbc-v4-14-push.yaml)) or (any of: Dockerfile-v4-14.catalog)) or (any of: catalog/***)
  otel-operator-development-on-pull-request: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-operator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-operator-pull-request.yaml)) or (any of: .tekton/otel-operator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
  otel-target-allocator-main-on-push: (((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/otel-target-allocator-pull-request.yaml)) or (any of: .tekton/otel-target-allocator-push.yaml)) or (any of: Dockerfile.operator)) or (any of: rpms.lock.yaml)) or (any of: opentelemetry-operator)
